body {
    font-family: "Montserrat" !important;
    font-size: 22px;
}

/* Navbar */
.navbar {
    font-weight: bold;
    font-size: 19px;
}

.navbar-item.has-text-black:hover,
.navbar-item:hover {
    color: #485fc7 !important;
}

/* custom paragraph style */
.p-gray {
    font-size: 18px;
    color: rgb(145, 139, 139);
}

/* Buttons */
.learn-more-button {
    background-color: white;
    color: #485fc7;
    font-size: 18px;
    padding: 8px 15px;
    text-decoration: none;
    border: 2px solid #485fc7;
    border-radius: 15px;
}

.learn-more-button:hover {
    background-color: #485fc7 !important;
    color: white !important;
}

.pub-buttons,
.cite-trigger {
    background-color: white;
    font-size: 14px;
    color: #485fc7;
    padding: 5px 15px;
    text-decoration: none;
    border: 2px solid #485fc7;
    border-radius: 10px;
}

.pub-buttons:hover,
.cite-trigger:hover {
    background-color: #485fc7;
    color: white;
}

/* icons and progress bars */
.fa-solid,
.fa:not(.fa-graduation-cap),
.ai {
    font-size: 40px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    border: none;
}


.fa-brightness,
.fa-moon,
.fa-linkedin,
.fa-github,
.fa-envelope,
.ai-google-scholar {
    background: white;
    color: #485fc7;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover,
.ai-google-scholar:hover {
    color: #192c81;
}

/* Theme styles */
#theme-icons {
    border-left: 2px solid rgb(168, 164, 164) !important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 5px;
}

/* Progress Bars */

.progress-wrapper {
    position: relative;
}

.progress-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1rem / 1.5);
    line-height: 1rem;
    font-weight: bold;
}

.progress.is-small+.progress-value {
    font-size: calc(0.75rem / 1.5);
    line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
    font-size: calc(1.25rem / 1.5);
    line-height: 1.25rem;
}

.progress.is-large+.progress-value {
    font-size: calc(1.5rem / 1.5);
    line-height: 1.5rem;
}

.project-images {
    border-radius: 10px;
    padding: 6px 8px 6px 8px;
    height: auto;
}