body {
    font-family: "Montserrat" !important;
    font-size: 22px;
}

/* Navbar */
.navbar {
    font-weight: bold;
    font-size: 19px;
}

.navbar-item.has-text-black:hover,
.navbar-item:hover {
    color: #485fc7 !important;
}

input[id="theme-toggle"] {
    -webkit-appearance: none;
    position: relative;
    width: 70px;
    height: 35px;
    background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
    background-size: cover;
    border-radius: 50px;
    outline: none;
    transition: background-image .90s;
    box-shadow: 0px 2px 5px 1px gray;
}

input[id="theme-toggle"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #F7CA33;
    transition: all .9s;
    border-radius: 50px;
}

input[id="theme-toggle"]:checked {
    background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
    transition: background-image .90s;

}

input[id="theme-toggle"]:checked:before {
    transform: translate(100%);
    transition: all .9s;
    background-color: #ECF0F3;
}

/* custom paragraph style */
.p-gray {
    font-size: 18px;
    color: rgb(145, 139, 139);
}

/* Buttons */
.learn-more-button {
    background-color: white;
    color: #485fc7;
    font-size: 18px;
    padding: 8px 15px;
    text-decoration: none;
    border: 2px solid #485fc7;
    border-radius: 15px;
}

.learn-more-button:hover {
    background-color: #485fc7 !important;
    color: white !important;
}

.pub-buttons,
.cite-trigger {
    background-color: white;
    font-size: 14px;
    color: #485fc7;
    padding: 5px 15px;
    text-decoration: none;
    border: 2px solid #485fc7;
    border-radius: 10px;
}

.pub-buttons:hover,
.cite-trigger:hover {
    background-color: #485fc7;
    color: white;
}

/* icons and progress bars */
.fa-solid,
.fa:not(.fa-graduation-cap),
.ai {
    font-size: 40px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    border: none;
}


.fa-brightness,
.fa-moon,
.fa-linkedin,
.fa-github,
.fa-envelope,
.ai-google-scholar {
    background: white;
    color: #485fc7;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover,
.ai-google-scholar:hover {
    color: #192c81;
}

/* Theme styles */
#theme-icons {
    border-left: 2px solid rgb(168, 164, 164) !important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 5px;
}

/* Progress Bars */

.progress-wrapper {
    position: relative;
}

.progress-value {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1rem / 1.5);
    line-height: 1rem;
    font-weight: bold;
}

.progress.is-small+.progress-value {
    font-size: calc(0.75rem / 1.5);
    line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
    font-size: calc(1.25rem / 1.5);
    line-height: 1.25rem;
}

.progress.is-large+.progress-value {
    font-size: calc(1.5rem / 1.5);
    line-height: 1.5rem;
}

.project-images {
    border-radius: 10px;
    padding: 6px 8px 6px 8px;
    height: auto;
}

.back-to-top {
    width: 100;
    height: 100;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #141c38;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 30px;
    height: 30px;
    color: #485fc7;
}